<!DOCTYPE html>
<html>
  <head>
    <title>Flaskular Bootstrap</title>

    <!-- Lib Resources: Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="{{ url_for('angular.core_lib', filename='angular-bootstrap/ui-bootstrap.min.js') }}"></script>
    <script src="{{ url_for('angular.core_lib', filename='angular-bootstrap/ui-bootstrap-tpls.min.js') }}"></script>
    <script src="{{ url_for('angular.core_lib', filename='angular-ui-router/release/angular-ui-router.min.js') }}"></script>
    <script src="{{ url_for('angular.core_lib', filename='angular-cookies/angular-cookies.min.js') }}"></script>
    <script src="{{ url_for('angular.core_lib', filename='angular-bootstrap-checkbox/angular-bootstrap-checkbox.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Lib Resources: CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('angular.core_lib', filename='angular-bootstrap/ui-bootstrap-csp.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('angular.core_lib', filename='bootstrap/dist/css/bootstrap.min.css') }}" />

    <!-- Core JS Modules - Autoload -->
    {% for js_file in static_js['core'] %}
      <script src="{{ url_for('angular.core_static', filename=js_file) }}"></script>
    {% endfor %}

    <!-- App JS Modules - Autoload -->
    {% for js_file in static_js['app'] %}
      <script src="{{ url_for('static', filename=js_file) }}"></script>
    {% endfor %}

    <!-- Core CSS files - Autoload -->
    {% for css_file in static_css['core'] %}
      <link rel="stylesheet" type="text/css" href="{{ url_for('angular.core_static', filename=css_file) }}" />
    {% endfor %}

    <!-- App CSS files - Autoload -->
    {% for css_file in static_css['app'] %}
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename=css_file) }}" />
    {% endfor %}

  </head>

  <body ng-app="app">
    <div class='wrap'>
      <div class='container-fluid app-container'>
        <topnavext></topnavext>
        <section ui-view></section>
      </div>
      <div class='push'></div>
    </div>

  </body>
</html>

